# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vendor pkgs
vendor/

# Compiled terraform files
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info

# Module directory
.terraform/

# tfplan
tfplan

# vscode specific config
.vscode

# docker-compose env vars
.env
